body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

.navBar{
    overflow:hidden;
    background-color: #e5e1a39f;
}

.navBar a {
    float:left;
    color: #000000;
    text-align: center;
    padding: 40px 80px;
    text-decoration: none;
    font-size:17px;
    font-style: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.navBar a:hover{
    background-color: black;
    color:white;
}

.navBar h1{
    padding: 15px 15px 15px 15px;
    font-family: "Lucida Console", "Courier New", monospace;
    color: black;
    font-size: 25px;
    font-style: bold;
}